<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		<div class="card mr-3">

			<div class="card-body">

				<h1 class="text-center">Contacts</h1>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c :${contacts}">

							<th scope="row" th:text="${'SCM00'+c.cid}">1</th>
							<td >
							<img class="my_profile_pic" src="#"th:src="@{'/images/'+${c.image}}" alt="profile image" />
							<span th:text="${c.name}"></span>
							</td>
							<td >
							
							<a href="" th:href="@{'/user/contact/'+${c.cid}}">
							
							<span th:text="${c.email}"></span>
							
							</a>
							
							
							</td>
							<td th:text="${c.phone}">@mdo</td>
							<td>
								<a th:href="@{'/user/delete/'+${c.cid}}" class="btn btn-danger btn-sm">Delete</a>
								
							<form th:action="@{'/user/updateContact/'+${c.cid}}" method="post" class="mt-2">
							<button type="submit" class="btn btn-primary btn-sm ">Update</button>

						</form>

							</td>

						</tr>


					</tbody>
				</table>


				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li th:if="${currentPage!=0}"  class="page-item"><a class="page-link" th:href="@{'/user/show-contact/'+${currentPage-1}}" href="#">Previous</a></li>
						<li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link" th:href="@{'/user/show-contact/'+${i-1}}" href="#"><span th:text="${i}"></span></a></li>
					
						<li th:if="${currentPage+1!=totalPages}"class="page-item"><a class="page-link" th:href="@{'/user/show-contact/'+${currentPage+1}}" href="#">Next</a></li>
					</ul>
				</nav>




			</div>
		</div>


	</section>






</body>
</html>